<% provide(:title, 'New API Key') %>
<h2>New API Key</h2>
<div class="center">
<%= form_for @api_key do |f| %>
  <% if @api_key.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@api_key.errors.count, "error") %> prohibited
        this event from being saved:</h2>
      <ul>
      <% @api_key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Create Key", class: "btn btn-primary btn-small" %>
    <%= link_to "Cancel", api_keys_path, class: "btn btn-small" %>
  </p>
<% end %>
</div>
